.articlePageSupremeContainer {
  width: 100%;
  background-color: white;
}

.articleMainContainer {
  max-width: 50rem;
  margin-inline: auto;
  padding: 1rem;
}

.articleContainer{
  display: flex;
  flex-direction: column;
}

.articleContainer h1 {
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: 1.1;
  text-align: left;
  font-weight: 900;
  color: rgba(0, 0, 0, 1);
  -webkit-line-clamp: 2;
  width: 100%;
  word-break: break-word;
}

.articleImage{
  margin-block: 1.25rem;
}

.articleContainer h2{
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  font-size: 1.5rem;
  margin-block: 0.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: capitalize;
} 

.dynamicHtmlContent p{
  margin-block: 0.5rem;
  text-overflow: unset;
  overflow: unset;
  -webkit-box-orient: unset;
  font-size: 1.1rem;
  font-family: 'Source Serif 4' !important;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
}
