.homePageSupremeContainer {
  width: 100%;
}

.homePageMainContainer {
  max-width: 70rem;
  margin: 10px auto;
  display: flex;
  column-gap: 6px;
  padding: 0 1rem;
}

.dailyArticlesMainContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  row-gap: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.dailyArticlesMainContainer::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.dailyArticlesMainContainer::-webkit-scrollbar-thumb {
  background-color: rgb(231, 225, 218);
  border-radius: 9999px; /* Radius of the scrollbar thumb */
}

.dailyArticlesMainContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.dailyArticlesMainContainer > p {
  text-overflow: unset;
  overflow: unset;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  display: block;
  -webkit-box-orient: unset;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: rgb(50, 49, 48);
  opacity: 0.6;
  height: 2rem;
}

.dailyArticlesContainer {
  display: flex;
  height: 12rem;
  column-gap: 16px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  color: black;
  border-radius: 10px;
  padding: 12px 16px 12px 0;
  cursor: pointer;
  transform: scale(1);
  /* animation: fadeInUp 0.5s ease-out; */
  transition: transform 0.4s ease-in-out;
}

.dailyArticlesContainer:hover {
  transform: scale(1.01);
}

.dailyArticleImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dailyArticleImage {
  border-radius: 10%;
  background-size: 100%;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}

.dailyArticleTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6.4rem;
}

.dailyArticleTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.25rem;
  line-height: 1.255em;
  font-weight: bolder;
  color: rgb(50, 49, 48);
  -webkit-line-clamp: 2;
  z-index: 1;
  width: 100%;
  word-break: break-word;
}

.dailyArticleDate,
.dailyCategory {
  color: rgba(96, 94, 92, 0.721);
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.homePageSideBarContainer{
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 769px){
  .homePageMainContainer{
    flex-direction: column;
    max-width: 100%;
  }
  .dailyArticlesMainContainer{
    margin-bottom: 1rem;
    width: 100%;
  }
  .dailyArticlesContainer{
    padding: 0;
  }
  .dailyArticleTitleContainer{
    padding-right: 0;
  }
}

@media only screen and (max-width: 321px){
  .dailyArticlesMainContainer{
    row-gap: 0.25rem;
  }
  .dailyArticlesContainer{
    height: 10rem;
  }
  .dailyArticleImage{
    width: 8rem;
    height: 8rem;
  }
  .dailyArticleTitle{
    font-size: 1rem;
  }
}
