.navbarSupremeContainer {
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: all 0.3s ease; 
}

.activeOffset{
  border-bottom: 1px solid rgba(0,0,0,0.12);
  background-color: rgba(255,255,255,1) !important;
  transition: all 0.3s ease;
}

.activeNotHomeNavbarSupremeContainer{
  width: 100%;
  padding: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgba(255,255,255,1) !important;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  z-index: 9999;
  transition: all 0.3s ease;
}

.activeAtPortfolio{
  width: 100%;
  padding: 1rem;
  position: static;
  top: 0;
  background-color: rgba(255,255,255,1) !important;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  z-index: 9999;
  transition: all 0.3s ease;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto 4rem;
  height: 3rem;
  max-width: 70rem;
  margin: 0 auto;
}

.container1 {
  display: flex;
  align-items: center;
}

.container1H1 {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: transparent;
  font-weight: normal;
  color: white;
  font-weight: bold;
}

.container1H1 span{
  display: none;

}

.container1H1 > img {
  margin-right: 8px;
}

.container2 {
  display: flex;
  justify-content: right;
  padding: 0 1rem;
  align-items: center;
  grid-column: 3;
  grid-row: 1;
}

/* search button (start) */

.bottomSearchBarContainer {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  height: 0;
  pointer-events: none;
  align-items: center;
  max-width: 70rem;
  padding-right: 0.8rem;
  margin-inline: auto;
  transition: opacity 0.4s ease-in-out, height 0.6s ease-in-out;
}

.bottomSearchBar {
  width: 50%;
  height: 2.8rem;
  border-radius: 9999px;
  background: rgba(28, 28, 28, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  text-indent: 1.5rem;
  transition: opacity 0.6s ease-in-out;
}

.bottomSearchBar::-webkit-search-cancel-button,
.activeBottomSearchBar::-webkit-search-cancel-button{
  display: none;
}

.activeBottomSearchBar{
  background: rgba(230, 230, 230, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
}

.bottomSearchBar::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.activeBottomSearchBar::placeholder{
  color: rgba(0, 0, 0, 0.5);
}

.bottomSearchBar:focus {
  outline: none;
}

.bottomSearchBarContainer.show {
  height: 2.8rem;
  opacity: 1;
  pointer-events: all;
}
.searchCheckBoxContainer{
  position: relative;
}
.searchButton,
.searchCheckBox,
.searchCloseButton{
  position: absolute;
}
.searchCheckBox,
.searchButton,
.searchCloseButton{
  width: 1.75rem;
  height: 1.75rem;
}

.searchCheckBox {
  opacity: 0;
  z-index: 9999;
}

.searchCloseButton{
  opacity: 0;
}

.searchCheckBox:checked ~ .searchButton {
  opacity: 0;
  transition: all 0.4s ease;
}

.searchCheckBox:checked ~ .searchCloseButton {
  opacity: 1;
  transition: all 0.4s ease;
}

/* search button (end) */

.containerButton {
  display: grid;
  position: relative;
  grid-column: 2;
  grid-row: 1;
}


.menuButton,
.closeButton,
.checkBox {
  display: none;
}

.container3Navbar {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  align-items: center;
}

.link {
  color: white;
  font-size: small;
  position: relative;
  transition: color 0.6s ease; /* Add a transition for color change */
}

.container3Navbar a:last-child{
  padding-right: 2rem;
}

.linkActiveOffset{
  color: rgba(0,0,0,0.8) !important;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust the gap between text and border */
  width: 100%;
  height: 2px; /* Adjust the thickness of the border */
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}


.link:hover::before {
  transform: scaleX(1);
}

.profileButton {
  padding: 0.25rem 0.6rem;
  font-size: small;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.profileButton:hover,
.profileButton:focus-visible{
  color: rgba(0, 0, 0, 0.8) !important;
  background-color: white;
}

.profileButtonActiveOffset{
  padding: 0.25rem 0.6rem;
  font-size: small;
  color: rgba(0, 0, 0, 0.8) !important;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s linear, color 0.3s linear;
}

.profileButtonActiveOffset:hover,
.profileButtonActiveOffset:focus-visible{
  color: rgb(255, 255, 255) !important;
  background-color: rgba(0, 0, 0, 0.8);
}


@media only screen and (max-width: 962px) {
  .navbarSupremeContainer {
    padding: 1rem 1rem;
  }
  .navbar {
    grid-template-columns: auto auto 3rem;
    height: 3rem;
  }
  .container2{
    grid-column: 2;
  }
  .container2SeachCheckBox {
    justify-content: space-between;
    padding: 0 0.5rem;
  }
  .container2Span {
    display: none;
  }
  .containerButton{
    grid-column: 3;
  }

   .checkBox{
    opacity: 0;
    z-index: 999999;
  }
   
  .containerButton {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 2rem;
  }
  .menuButton,
  .checkBox {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
  }
  
  .checkBox:checked ~ .menuButton {
    opacity: 0;
    transition: all 0.4s ease;
  }

  .checkBox:checked ~ .closeButton {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    z-index: 9999;
    opacity: 100%;
    transition: all 0.4s ease;
  }

  .container3Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    background: white;
    height: -webkit-fill-available;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease-in-out;
  }
  .container3Navbar a:last-child{
    padding-right: 0;
  }
  .checkBox:checked ~ .container3Navbar {
    pointer-events: all;
    opacity: 1;
  }
  .link {
    color: black;
    font-size: large;
  }
  .profileButton, .profileButtonActiveOffset{
    font-size: large;
    color: rgba(0, 0, 0, 0.8) !important;
    border: 2px solid rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s linear, color 0.3s linear;
  }
  
  .profileButton:hover,
  .profileButtonActiveOffset:hover,
  .profileButton:focus-visible,
  .profileButtonActiveOffset:focus-visible{
    color: rgb(255, 255, 255) !important;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (max-width: 641px){
  .bottomSearchBar{
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  .navbarSupremeContainer {
    padding: 1rem 0.5rem;
  }
  .navbar {
    grid-template-columns: 8rem auto 2.5rem;
  }
  .container2SearchBox {
    width: 75.5vw;
    font-size: small;
    height: 2.5rem;
  }
  .searchButton,
  .searchCheckBox,
  .searchCloseButton {
    margin-right: 0.75rem;
  }
  .container2SearchBox::placeholder {
    font-size: small;
  }
  .buttomSearchBarContainer{
    padding-right: 0;
  }
}

@media only screen and (max-width: 376px) {
  .container2SearchBox {
    width: 72.5vw;
  }
  .searchButton,
  .searchCheckBox,
  .searchCloseButton {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 321px) {
  .navbar {
    grid-template-columns: 8rem auto 2rem;
  }
  .container2SearchBox {
    width: 70vw;
  }
  .searchCheckBox,
  .searchButton {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0;
  }

  .searchCloseButton {
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin-right: 0 !important;
  }
  .menuButton,
  .closeButton,
  .checkBox {
    width: 2rem;
    height: 2rem;
  }
}
