@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

.secondaryNavbarSupremeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background: black;
    position: sticky;
    top: 0;
    z-index: 9;
    font-family: "Outfit", sans-serif;
}

.secondaryNavbarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82.5rem;
    overflow: auto;
    white-space: nowrap;
}

.secondaryNavbarContainer::-webkit-scrollbar {
    width: 0px;
}

.secondaryNavbarContainer::-webkit-scrollbar-thumb {
    background: transparent;
}

.secondaryNavbarLink {
    font-size: small;
    padding: 0 0.5rem;
    color: white;
}

@media only screen and (max-width:350px) {
    .secondaryNavbarContainer {
        justify-content: flex-start;
    }
}