.secondaryNavbarSupremeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background: black;
    position: sticky;
    top: 0;
    z-index: 9;
}

.secondaryNavbarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70rem;
    overflow: auto;
    white-space: nowrap;
}

.secondaryNavbarContainer::-webkit-scrollbar{
    width: 0px;
}

.secondaryNavbarContainer::-webkit-scrollbar-thumb{
    background: transparent;
}

.secondaryNavbarLink {
    font-size: small;
    padding: 0 0.5rem;
    color: white;
}

@media only screen and (max-width:350px){
    .secondaryNavbarContainer{
        justify-content: flex-start;
    }
}