.homePageSideBar {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 2rem;
  background: url("/sideMenuBackground.avif");
  color: black;
  text-align: justify;
  border-radius: 10px;
  background-size: 100% 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px;
  background-repeat: no-repeat;
}

.sideBarTitle {
  text-overflow: unset;
  overflow: unset;
  display: block;
  -webkit-box-orient: unset;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 800;
  text-align: left;
  color: rgb(50, 49, 48);
  margin-bottom: 2rem;
}

.sideBarNotePoints {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(50, 49, 48, 0.861);
}

.sideBarNotePoints > p > span {
  font-weight: bold;
}

.subscribeForm {
  display: flex;
  flex-direction: column;
}

.subscribeForm > input,
.subscribeForm > button {
  width: 100%;
  height: 3rem;
  border: none;
  margin-top: 1.25rem;
  border-radius: 9999px;
  letter-spacing: 1px;
}

.subscribeForm > input {
  background: white;
  text-indent: 1.5rem;
  color: black;
  letter-spacing: 1px;
}

.subscribeForm > input::placeholder {
  text-indent: 1.5rem;
}

.subscribeForm > input:focus {
  outline: none;
}

.subscribeForm > button {
  font-size: small;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  background-color: rgb(50, 49, 48);
  cursor: pointer;
}

@media only screen and (max-width: 769px) {
  .homePageSideBar {
    display: none;
  }
}

@media only screen and (max-width: 426px) {
  .homePageSideBar {
    background: url("/sideMenuBackground.avif");
    background-size: 100% 100%;
    display: block;
  }
}

@media only screen and (max-width: 321px) {
  .homePageSideBar {
    background: url("/sideMenuBackground.avif");
    background-size: 100% 100%;
    padding: 1.25rem;
  }
  .sideBarTitle {
    font-size: 2rem;
  }
}
